<%- include("partials/header.ejs") %>

<div class="full">
  <nav class="navbar">
    <h2 class="title-logo">MyWeather</h2>
    <form action="/" method="post">
      <input
        class="input"
        type="search"
        name="cityName"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn" type="submit" style="height: 26px">Search</button>
    </form>
  </nav>
  <div class="details">
    <div class="temp-details">
      <div class="temp">
        <p class="temp-current"><%=weatherData.main.temp%>℃</p>
        <p class="type"><%=weatherData.weather[0].main%></p>
        <p>
          <strong>Day</strong> <%=weatherData.main.temp_max%>℃ .
          <strong>Night</strong> <%= weatherData.main.temp_min%>℃
        </p>
      </div>
      <div class="situation-icon">
        <img
          src="https://openweathermap.org/img/wn/<%=weatherData.weather[0].icon%>@2x.png"
          alt=""
        />
      </div>
    </div>
    <div class="more-details">
      <p>Weather Today in <%=weatherData.name%></p>
      <p style="display: inline-block">Feels Like</p>
      <p style="display: inline-block;" class="temp-current"><%=weatherData.main.feels_like%>℃</p>
      <div class="stats-grid">
        <% for(var i=0;i<6;i++) { %>
          <div class="each-details">
            <p><%= list[i][0]%></p>
            <p><%= list[i][1]%></p>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<script src="../JS/color.js"></script>

<%- include("partials/footer.ejs") %>
